<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="projec820.Application"
            parameter="mail"
            id="projec820.Application">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RAP Perspective"
            class="projec820.Perspective"
            id="projec820.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            name="Message"
            icon="icons/sample2.gif"
            class="projec820.View"
            id="projec820.view">
      </view>
      <view
            name="Mailboxes"
            icon="icons/sample3.gif"
            class="projec820.NavigationView"
            id="projec820.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="projec820.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="projec820.category"
            id="projec820.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Opens a message dialog"
            categoryId="projec820.category"
            id="projec820.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            servletName="mail"
            themeId="projec820.theme3"
            defaultEntrypointId="projec820.Application"
            title="RAP Maildemo"
            id="projec820.branding">
         <presentationFactory
               defaultLayoutId="org.eclipse.rap.design.example.business.layout"
               name="Business PresentationFactory"
               id="org.eclipse.rap.design.example.business.factory">
            <defaultStackPresentation
                  id="org.eclipse.rap.design.example.stack.view">
            </defaultStackPresentation>
         </presentationFactory>
      </branding>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themes">
      <theme
            file="themes/theme.css"
            id="projec820.theme3"
            name="theme">
      </theme>
   </extension>

</plugin>
